exportPattern("^[[:alpha:]]+")
importFrom("stats", "IQR", "quantile", "sd", "mad", "median")
importFrom("grDevices", "boxplot.stats")
importFrom("EnvStats", "rosnerTest")
importFrom("BestTransform", "data_distribution", "model_my_data")
importFrom("pbmcapply", "pbmclapply")
importFrom("caret", "nearZeroVar")
